[Unit]
Description=php-fpm Exporter for Prometheus
Documentation=https://github.com/hipages/php-fpm_exporter
After=network.target

[Service]
EnvironmentFile=-/etc/default/php-fpm_exporter
User=prometheus
ExecStart=/usr/bin/php-fpm_exporter $PHPFPM_EXPORTER_OPTS server
Restart=on-failure

[Install]
WantedBy=multi-user.target
